@import 'fonts.css';

.book.font-family-0 {
  font-family: 'MaruBuri-Regular', sans-serif;
}

.book.font-family-1 {
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

.summary {
  font-family: sans-serif;
  font-size: 13px;
}
